button {
  border: none;
  background: none;
}

.container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.content {
  display: block;
}

.content-hidden {
  display: none;
}
